.slider__item-content div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slider__item-content div div {
  display: block;
}

.slider__container {
  overflow: hidden;
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
}
