#addtocart {
  main {
    #cartadd {
      padding: 50px 80px;
      display: flex;
      gap: 70px;
      justify-content: center;
      padding-bottom: 111px;
      #addImg {
        img {
          width: 607px;
          height: 661px;
          @media (max-width: 1360px) {
            width: 516px;
            height: 562px;
          }
          @media (max-width: 1110px) {
            width: 439px;
            height: 478px;
          }
        }
      }
      #addInfo {
        display: flex;
        flex-direction: column;
        width: 518px;
        #addHead {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding-bottom: 28px;
          border-bottom: #ebe8f4 1px solid;
          h1 {
            font-size: 36px;
            font-weight: 400;
          }
          p {
            font-size: 24px;
            font-weight: 400;
          }
        }
        #addDesc {
          display: flex;
          flex-direction: column;
          gap: 14px;
          padding-top: 24px;
          padding-bottom: 36px;
          h3 {
            font-size: 16px;
            font-weight: 400;
          }
          p {
            font-size: 16px;
            font-weight: 400;
          }
        }
        #addDimens {
          display: flex;
          flex-direction: column;
          gap: 24px;
          h3 {
            font-size: 16px;
            font-weight: 400;
          }
          #table {
            display: flex;
            div {
              display: flex;
              flex-direction: column;
              gap: 15px;
              h4 {
                font-size: 14px;
                font-weight: 400;
              }
              p {
                font-size: 16px;
                font-weight: 400;
              }
            }
            #first {
              padding-right: 50px;
            }
            #second {
              padding-left: 50px;
              border-left: #ebe8f4 1px solid;
              padding-right: 50px;
              border-right: #ebe8f4 1px solid;
            }
            #third {
              padding-left: 50px;
            }
          }
        }
        #addQuant {
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding-top: 40px;
          #calc {
            display: flex;
            div {
              width: 52px;
              height: 46px;
              display: flex;
              justify-content: center;
              padding: 12px 16px;
              p {
                font-size: 20px;
                font-weight: 400;
              }
            }
            button {
              width: 46px;
              height: 46px;
              background-color: #f9f9f9;
              border: none;
            }
            #minus {
              background-image: url("../img/minus.svg");
              background-size: 30px;
              background-repeat: no-repeat;
              background-position: center;
            }
            #plus {
              background-image: url("../img/plus.svg");
              background-size: 30px;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
      #add {
        display: flex;
        gap: 16px;
        #addBtn, #inCartBtn, #removeBtn {
          display: flex;
          padding: 16px 32px;
          justify-content: center;
          gap: 10px;
          background-color: #2a254b;
          color: #fff;
          border: none;
        }
        #inCartBtn {
          background-color: #098000;
        }
        #removeBtn {
          background-color: #cb3131;
          width: 165px;
          height: 56px;
          position: relative;
          div {
            display: inline-block;
            margin-right: 10px;
            width: 24px;
            height: 24px;
            background-image: url("../img/remove.svg");
          }
          p {
            display: inline-block;
            position: relative;
            bottom: 4px;
          }
          &:hover {
            opacity: 1;
          }
        }
        #favSaveBtn {
          display: flex;
          padding: 16px 32px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: #fff;
          border: #ebe8f4 1px solid;
          @media (max-width: 1110px) {
            background-image: url("../img/heart.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f9f9f9;
            border: none;
          }
          p {
            @media (max-width: 1110px) {
              display: none;
            }
          }
        }
      }
    }
    h2 {
      font-size: 32px;
      font-weight: 400;
      line-height: 140%;
      padding-left: 80px;
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
    }   
  }
}
