main {
  #mainDiv {
    display: flex;
    justify-content: flex-end;
    padding: 130px 80px 250px 730px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/mianBg.jpg");
    #collectionAd {
      width: 530px;
      height: 324px;
      display: flex;
      flex-direction: column;
      gap: 157px;
      background-color: #fff;
      padding: 60px 50px;
      div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          width: 513px;
          font-size: 32px;
          font-weight: 400;
          line-height: 140%;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
        }
      }
      button {
        display: flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        width: 175px;
        background-color: #F9F9F9;
        border: none;
      }
    }
  }
}
