#products {
  margin-left: auto;
  margin-right: 160px;

  @media (max-width: 1800px) {
    margin-right: 110px;
  }
  @media (max-width: 1700px) {
    margin-right: 60px;
  }
  @media (max-width: 1600px) {
    margin-right: 10px;
  }
  @media (max-width: 1580px) {
    margin-right: 160px;
  }
  @media (max-width: 1500px) {
    margin-right: 110px;
  }
  @media (max-width: 1400px) {
    margin-right: 60px;
  }
  @media (max-width: 1300px) {
    margin-right: 10px;
  }
  @media (max-width: 1280px) {
    margin-right: 0;
    margin-left: 168px;
  }
  @media (max-width: 1230px) {
    margin-left: 138px;
  }
  @media (max-width: 1190px) {
    margin-left: 115px;
  }
  @media (max-width: 1140px) {
    margin-left: 90px;
  }
  @media (max-width: 1090px) {
    margin-left: 110px;
  }
  @media (max-width: 1070px) {
    margin-left: 100px;
  }
  @media (max-width: 1040px) {
    margin-left: 85px;
  }


  @media (min-width: 2000px) {
    margin-right: 240px;
  }
  @media (min-width: 2100px) {
    margin-right: 290px;
  }
  @media (min-width: 2200px) {
    margin-right: 340px;
  }
  @media (min-width: 2300px) {
    margin-right: 390px;
  }
  @media (min-width: 2400px) {
    margin-right: 440px;
  }
  @media (min-width: 2560px) {
    margin-right: 520px;
  }
  #productsDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    max-width: 1440px;
    margin-right: auto;
    @media (max-width: 1580px) {
      max-width: 1152px;
    }
  }
}
