#products {
    margin: auto;
    #productsDiv {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1440px;
        margin: auto;
        .item {
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-bottom: 50px;
            cursor: pointer;
            div {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }
          }
          
    }
}