#store {
  main {
    #storeTitle {
      color: #fff;
      padding: 123px 80px 36px 80px;
      background-image: url("../img/storeTitleBg.png");
      background-repeat: no-repeat;
      background-size: cover;
      h1 {
        font-size: 36px;
        font-weight: 400;
        line-height: 140%;
      }
    }
    #storeHead {
      display: flex;
      padding: 15px 25px;
      padding-left: 50px;
      justify-content: flex-start;
      #filterBtn {
        border: none;
        background-color: #F9F9F9;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
      a {
        padding-top: 4px;
      }
      #nav {
        margin-left: auto;
      }
      #sort {
        display: flex;
        gap: 15px;
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
    #filter-store {
      display: flex;
    }
    #loadMore {
      display: flex;
      justify-content: center;
      padding-top: 32px;
      padding-bottom: 36px;
      button {
        padding: 16px 32px;
        width: 175px;
        background-color: #f4f3f3;
        border: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 40px;
      }
    }
  }
}
