@import "reset.scss";
@import "dropdown.scss";
@import "home.scss";
@import "about.scss";
@import "store.scss";
@import "header.scss";
@import "footer.scss";
@import url("clash-display.css");
@import url("satoshi.css");
@import url("bootstrap.css");

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #2a254b;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: ClashDisplay-Regular;
  }
  p,
  a,
  li,
  button,
  input {
    font-family: Satoshi-Regular;
  }
}

.container {
  max-width: 1440px;
  margin: auto;
}
