@import "reset.scss";
@import "home.scss";
@import "header.scss";
@import "footer.scss";
@import url('clash-display.css');
@import url('satoshi.css');

body {
    color: #2A254B;
    h1, h2, h3, h4, h5, h6 {
        font-family: ClashDisplay-Regular;
    }
    p, li, button, input {
        font-family: Satoshi-Regular;
    }
}

.container {
    max-width: 1440px;
    margin: auto;
}
