@import "reset.scss";
@import "dropdown.scss";
@import "filter.scss";
@import "products.scss";
@import "checkbox.scss";
@import "home.scss";
@import "about.scss";
@import "store.scss";
@import "addtocart.scss";
@import "cart.scss";
@import "header.scss";
@import "footer.scss";
@import url("clash-display.css");
@import url("satoshi.css");
@import url("bootstrap.css");

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #2a254b;
  background-color: #f9f9f9;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: ClashDisplay-Regular;
  }
  p,
  a,
  li,
  button,
  input {
    font-family: Satoshi-Regular;
  }
}

.container {
  max-width: 1440px;
  margin: auto;
}

button:hover,
a:hover {
  opacity: 0.6;
}

#clubJoin {
  color: #fff;
  padding: 97px 473px 86px 473px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  background-image: url("../img/clubBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  #clubInfo {
    width: 494px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    #clubText {
      display: flex;
      flex-direction: column;
      gap: 12px;
      h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 140%;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }
    }
    #benefits {
      display: flex;
      justify-content: center;
      gap: 36px;
      div {
        display: flex;
        gap: 8px;
        img {
          width: 16px;
        }
      }
    }
  }
  #email {
    display: flex;
    input {
      display: flex;
      padding: 17px 32px 17px 32px;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
      color: #f9f9f9;
      width: 260px;
      border: none;
    }
    button {
      display: flex;
      padding: 16px 32px;
      align-items: flex-start;
      gap: 10px;
      background-color: #2a254b;
      color: #fff;
      border: none;
    }
  }
}

#plusesOfBrand {
  padding-top: 80px;
  padding-bottom: 82px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
  }
  #plusBoxes {
    display: flex;
    justify-content: center;
    gap: 22px;
    @media (max-width: 1150px) {
      gap: 0;
    }
    .box {
      width: 209px;
      text-align: left;
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 48px;
      @media (max-width: 1150px) {
        padding: 20px;
      }
      img {
        height: 24px;
        width: 24px;
      }
      h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}

.slider__item-content {
  text-align: center;
  .item {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 50px;
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  button {
    padding: 16px 32px;
    width: 175px;
    background-color: #f4f3f3;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
  }
}

.item {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 50px;
  cursor: pointer;
  @media (max-width: 1580px) {
    width: 244px;
  }
  @media (max-width: 1280px) {
    width: 220px;
  }
  @media (max-width: 1090px) {
    width: 198px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h4 {
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
